arrow==1.3.0
contourpy==1.3.0
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.7
matplotlib==3.9.2
numpy==1.25.0
packaging==24.1
pillow==10.4.0
# PySide2>=5.0.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-time==0.3.0
six==1.16.0
types-python-dateutil==2.9.0.20240906

# additional install depending on OS:
# Mac and Linux:
# posix-ipc==1.1.1
# Windows:
# win32api==1.0.0
# win32pipe==1.0.0
# win32process==1.0.0